.button-section{
    animation-duration: .2s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: both;
    margin-bottom: 1rem;
}
.create-buttons{
    display: flex;
    justify-content: end;
    gap: 2em;
}

.card-form *{
    font-size: clamp(1rem, 4vw, 1.6rem);
}

.create-buttons>button {
    font-size: clamp(1.2rem, 4vw, 1.8rem);
    width: 175px;
    max-width: 100%;
}

.floating-button{
    position: absolute;
    top: clamp(.5rem, 5%, 1rem);
    left: clamp(.5rem, 4%, 1.5rem);
    width: clamp(1.6rem, 6%, 100%);
    max-width: 34px;
}

.button-section img{
    width: clamp(2.2rem, 5vw, 45px);
}

/* absolute top-4 left-6 */

@keyframes incoming-segment {
    from {
        display: none;
        transform: translateX(-30vw);
    }
    to {
        display: flex;
        transform: translateX(0);
    }
}
@keyframes show-segment {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: flex;
        opacity: 1;
    }
}
@keyframes hide-segment {
    from {
        display: flex;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}