.circle {
    background-color: #fff;
    position: fixed;
    top: 50vh;
    right: -45%;
    transform: translateY(-50%);
    opacity: 1;
    width: 50vw;
    height: 50vw;
    border-radius: 100%;
    z-index: 20;
    filter: drop-shadow(0px 0px 55px rgba(0, 0, 0, 0.4));
}

@keyframes short-lived-expansion {
    from {
        width: 50vw;
        height: 50vw;
    }
    to {
        width: calc(200vh + 200vw);
        height: calc(200vh + 200vw);
    }
}

@keyframes short-lived-contraction {
    from {
        width: calc(100vh + 100vw);
        height: calc(100vh + 100vw);
    }

    to {
        width: 50vw;
        height: 50vw;
    }
}